<div class="footer footer-full-width" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div style="    margin-left: auto;    margin-right: auto; width: 29%;">


                    <!-- Widget About -->

                    <div class="widget w-about">

                        <a href="/" class="logo">
                            <div class="img-wrap" style="text-align: center !important;    margin-left: auto;    margin-right: auto;">
                                <img style="    max-width: 128px;" src="{{ asset('img/logo.png') }}" alt="Olympus">
                            </div>

                        </a>

                        <ul class="socials" style="text-align: center !important;    margin-left: auto;    margin-right: auto;">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- ... end Widget About -->

                </div>
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                <!-- SUB Footer -->

                <div class="sub-footer-copyright">
					<span>
						Copyright <a href="">Exodia</a> All Rights Reserved 2018
					</span>
                </div>

                <!-- ... end SUB Footer -->

            </div>
        </div>
    </div>
</div>