{% extends "CarpoolingBundle:Default:layoutAdmin.html.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="ui-block">


                    <!-- Forums Table -->

                    <table class="forums-table" id="opTable">

                        <thead>

                        <tr>

                            <th class="forum">
                                Titre de l'annonce
                            </th>


                            <th class="freshness">
                                contenu
                            </th>
                            <th class="freshness">
                                crée le
                            </th>
                            <th class="freshness">
                                crée par :
                            </th>





                        </tr>

                        </thead>
                        <tbody>

                        {% for cov in covs %}
                            <tr>
                                <td> {{ cov.title }}</td>
                                <td> {{ cov.description  }}</td>
                                <td> {{ cov.createdAt|date("d/m/Y")  }}</td>
                                <td> {{ cov.createdBy  }}</td>


                            </tr>
                        {% endfor %}
                        </tbody>




                    </table>

                    <!-- ... end Forums Table -->
                </div>

            </div>


        </div>
    </div>

{% endblock %}
